* {
    margin: 0;
    padding: 0
}

li {
    list-style: none
}

img {
    border: 0;
    vertical-align: middle
}

button {
    cursor: pointer
}

/* 版心  */
.w {
    width: 1180px;
    margin: auto;
}

.header {
    height: 100px;
    margin: ;
}