Hr {
    width: 700px;
    float: left;
    margin-top: 0px;
}

.body1 {
    width: 700px;
    height: 70px;
    margin: 0 auto;
}

.body2 {
    width: 700px;
    margin: 0 auto;
}

.body2 table {
    padding: 0 0 0 20px;
}


.kxl {
    margin-left: 20px;
}

.left {
    width: 120px;
    text-align: right;
}

.right {
    width: 520px;
    height: 28px;
    border: 1px solid #333;
}
