Hr {
    width: 650px;
    float: left;
    margin-top: 0px;
}

div {
    width: 700px;
    margin: 0 auto;
}

.body1 {
    height: 30px;
}

.body2 {
    height: 150px;
}

.body3 {
    height: 150px;
}