body {
    width: 1200px;
    margin: 0 auto;
}

.lo {
    width: 120px;
    height: 60px;
}

.top {
    background: rgba(0, 0, 0, .6);
    position: fixed;
    top: 10px;
}

.top a {
    display: inline-block;
    text-decoration: none;
    height: 50px;
    width: 100px;
    color: white;
    line-height: 50px;
    text-align: center;
}

.top a:hover {
    background-color: black;
}