.top li {
    list-style: none;
    display: inline-block;

}

.top li a {
    text-decoration: none;
    height: 40px;
    width: auto;
}

#lo {
    width: 100px;
    height: 40px;
    /* float: left; */
}