.content {

}

.header {
    margin: 0 auto;
    height: 660px;
    width: 980px;
    background: url(img/bg.jpg) no-repeat; 
    /* background-size:940px 570px; */
}



.dh {
    margin: 0 auto;
    background: url(img/nav.jpg) no-repeat;
    padding : 40px 0 0 120px;
    height: 46px;
    width: 960px;
    /* margin-top: 10px;  */
}

.dh span {
    height: 10px;
    /* margin-top: 1px; */
    /* line-height: 10px; */
    padding-left: 30px;
}

.op {
    float: left;
    margin: 0 40px 0 40px;
}

.po {
    float: right;
    margin-right: 300px;
}

.midder {
    height: 660px;
    width: 980px;
    margin: 0 auto;
}

.dt span:first-child{
    height: 100px;
    padding: 100px 46px 10px 0;
}

.dt span:nth-child(3){
    height: 100px;
    padding-left: 38px;
}
