.content {
    margin: 0 auto;
    border: 1px solid red;
}

.header {
    height: 560px;
    width: 1200px;
    border: 1px solid red;
    background: url(img/bg.jpg) no-repeat; 
    /* background-size:940px 570px; */
}

.img {
    border: 1px solid red;
}

.dh {
    background: url(img/nav.jpg) no-repeat;
    border: 1px solid red;
    padding-top: 50px;
    height: 46px;
    width: 1200px;
    /* margin-top: 10px;  */
}

.dh span {
    
}