.content {
    margin: 0 auto;
    /* height: 900px; */
    width: 1000px;
}

.header {
    /* position: relative; */
    background: url(img/bg.jpg) center;
}

.img2 {
    position: absolute;
    top: 20px;
}