body {
    font: 16px/28px 'Microsoft YaHei' ;
    color: black;
    
    height: 500px;
}

.head {
    height: 110px;
    width: 980px;
    background: rgb(15,47,89);
}

a {
    text-decoration-color: none;
    color: black;
}